<h1>All receipts for <%= @org.name %></h1>
<div class="col-md-6">
  <%- if @receipts.any? %>
    <% @receipts.each do |receipt| %>
      <p>Receipt Number: <%= receipt.receipt_number  -%> </p> 
      <p><%= receipt.header  -%> </p>
      <div class="col-md-12">
        <% receipt.receipt_items.each do |item| %>      
          <div class="col-md-6"><%= item.name %></div> 
          <div class="col-md-6"><%= item.value %></div>  
        <% end %>
      </div>
      <p><%= receipt.footer  -%> </p>
    <% end %>
  <% end %>
</div>

